*{
    margin: 0;
    padding: 0;
}

.container_map {
    height: 50vh;
    width: 100vw;
}

.loading{
    background-image: '1492.gif';

}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

